body { margin:0; padding:0;}

#wrap{ /* 段組設定 */
	width:960px;					/* 全体の幅指定 */
	text-align:left;				/* 特に指定無き場合文字左寄せ */
	margin:0px;						/* マージン設定.1数字で指定の場合[上下左右]を同時指定,2数字で指定の場合[上下][左右]を指定,3数字で指定の場合[上][左右][下]を指定,4数字で指定の場合[上][右][下][左]を指定 */
	background-color:#f7f7ef;		/* 背景色設定 */
	}

#header1{ /* ヘッダー1設定 */
	margin:0px;
	height:60px;					/* 高さ指定 */
	line-height:60px;				/* 文字行高さ指定.上記と同じにすると文字が縦方向中央にくる. px, %, em ,etc. */
	background-image:url(../images/top_logo.gif);	/* 背景画像の指定 */
/*	background-repeat:no-repeat; */
/*	background-position:bottom; */
/*	background-color:#fff; */		/* 背景色設定 */
	font-size:26px;					/* 文字サイズ設定 */
	font-family:serif;				/* フォント種類指定.ヒラギノ角ゴ pro W3,sans-serif, serif, cursive, fantasy, monospace */
	font-style:normal;				/* 文字スタイル指定. normal, italic, oblique */
	font-weight:bold;				/* 文字太さ指定. normal, bold */
	letter-spacing:5px;				/* 文字間隔指定 */
	text-align:center;				/* 文字水平方向表示設定. left, center, right, justify */
	color: #1e4b48; 				/* 文字色指定 */
	}

#header2{ /* ヘッダー2設定.テーブルを使用してメニューを作成しているので,様式指定ほとんど無し(コメントアウト)menu.cssを参照 */
/*	line-height:0px;	*/			/* 文字行高さ指定. px, %, em ,etc. */
	height:132px;
/*	background-image:url(../images/top_image.jpg); */	/* 背景画像の指定 */
/*	background-repeat:no-repeat; */
/*	background-position:bottom; */
/*	background-color:#ffffff; */	/* 背景色設定 */
	font-size:15px;					/* 文字サイズ設定 */
/*	font-family:serif;  */			/* フォント種類指定.sans-serif, serif, cursive, fantasy, monospace */
/*	font-style:italic;  */			/* 文字スタイル指定. nomal, italic, oblique */
/*	font-weight:bold;  */			/* 文字太さ指定. normal, bold */
/*	letter-spacing:10px; */			/* 文字間隔指定 */
/*	text-align:center; */			/* 文字水平方向表示設定. left, center, right, justify */
/*	color: #0000ff;  */				/* 文字色指定 */
	}

#mainWrap{ /* メイン部の設定 */
	width:620px;					/* 640pxにしたいが,そうするとpaddingとの兼ね合いでで右メニューが改行される */
	float:left;						/* 回り込みの設定.left:次の段組の左側がメインスペースになる.right:ボックスを右に配置し,後続の内容を左側に回り込ませる,none, left */
	margin:0px;						/* 上下左右空間一括指定0px */
	padding:10px;					/* 文字を表示する上下左右の空間一括指定5px */
/*	padding-left:10px; */	  		/* 左側8px空間,top,left,right,bottom */
	background-color:#ffffff;		/* 背景色指定 */
	letter-spacing:1px/*2px*/;		/* 文字間隔指定. px, %, em, etc. */
	line-height:1.5em/*20px*/;		/* 文字行高さ指定. px, %, em ,etc. */
	font-size:0.9em/*15px*/;
	}

#mainWrap_text{ /* メイン部の設定 使わなくなる予定2012.10.11tori */
	width:620px;					/* 640pxにしたいが,そうするとpaddingとの兼ね合いでで右メニューが改行される */
	float:left;						/* 回り込みの設定.left:次の段組の左側がメインスペースになる.right:ボックスを右に配置し,後続の内容を左側に回り込ませる,none, left */
	margin:0px;						/* 上下左右空間一括指定0px */
	padding:10px;					/* 文字を表示する上下左右の空間一括指定5px */
/*	padding-left:10px; */	  		/* 左側8px空間,top,left,right,bottom */
	background-color:#ffffff;		/* 背景色指定 */
	letter-spacing:1px/*2px*/;		/* 文字間隔指定. px, %, em, etc. */
	line-height:1.5em/*20px*/;		/* 文字行高さ指定. px, %, em ,etc. */
	font-size:0.9em/*14px*/;
	}

#menu_l{ /* 左側「メニュー」文字の設定 */
	height:40px;
	line-height:40px;
	font-size:15px;
	text-align:center;
/*	color:#00f; */
	color:#000;
	background-image:url(../images/menu_001.jpg);	/* 背景画像の指定 */
	}

#sideWrap1{ /* サイドメニュー1(左側)の設定.ドロップダウンを使用してメニューを作成しているので,様式指定ほとんど無し(コメントアウト)drop.cssを参照 */
	line-height:40px;				/* 文字行高さ指定. px, %, em ,etc. */
	width:160px;
	height:40px;
	float:left;						/* 回り込みの設定.left:次の段組の左側がサイドメニューになる.left:ボックスを左に配置し,後続の内容を右側に回り込ませる,none, right */
	background-color:#ffffff;
/*	letter-spacing:1px; */
	text-align:left;
/*	color:#0000ff; */
	font-size:15px;
/*	font-weight:bold; */			/* フォント太さ指定.normal,bold,lighter,100,200,300,...,900 */
/*	padding-left:5px; */
/*	background-image:url(../images/o_menu_1.jpg); */
/*	background-repeat:no-repeat; */	/* 背景画像の並び設定.repeat:敷き詰める(初期設定), repeat-x:水平方向に並べる, repeat-y:垂直方向に並べる, no-repeat:1つだけ表示 */
	}
#sideWrap1 a{
/*	padding-left:8px; */			/* 左側8px空間 */
	}

#search{ /* Google 検索部 */
	line-height:15px;	/* プルダウンメニュー下端と検索窓との空間 */
	padding-left:6px;	/* 検索窓及び検索ボタンと左側の空間 */
	}

#search_space{ /* Google 検索注意書上空間 */
	line-height:300px;
	}

#search_tex{ /* Google 検索下注意書文字 */
	height:15px;
	line-height:15px;
	font-size:13px;
	color:#00f;
	padding-left:15px;
	}

#calender_space{ /* カレンダー 位置 */
	line-height:335px;
	text-align:center;
	}

#internal_s{ /* 学内専用ページ内検索ボタン位置 */
	text-align:center;
	}

#menu_r{ /* 右側「学内専用メニュー」文字 */
	height:40px;
	line-height:40px;
	text-align:center;
/*	color:#090; */
	color:#000;
	font-size:15px;
	background-image:url(../images/menu_001.jpg); */	/* 背景画像の指定 */
	}

#sideWrap2{ /* サイドメニュー2(右側).ドロップダウンを使用してメニューを作成しているので,様式指定ほとんど無し(コメントアウト)drop.cssを参照 */
	line-height:40px;				/* 文字行高さ指定. px, %, em ,etc. */
	width:160px;
/*	height:100px; */
	float:right;					/* 回り込みの設定. */
	background-color:#ffffff;
/*	letter-spacing:1px;	*/			/* 文字幅設定 */
	text-align:left;
/*	color:#009900; */
	font-size:15px;
/*	font-weight:bold; */			/* フォント太さ指定.normal,bold,lighter,100,200,300,...,900 */
/*	padding-right:5px; */
/*	background-repeat:repeat; */	/* 背景画像の並び設定.repeat:敷き詰める(初期設定), repeat-x:水平方向に並べる, repeat-y:垂直方向に並べる, no-repeat:1つだけ表示 */
	}
#sideWrap2 a{
/*	padding-left:8px;  */			/* 左側8px空間 */
	}

#footer{ /* フッター */
	line-height:1.5em/*20px*/;		/* 文字行高さ指定. px, %, em ,etc. */
	background-color: #fff;
	text-align:right;
	font-size:0.8em/*13px*/;
	letter-spacing:1px;				/* 文字間隔指定. px, %, em, etc. */
	padding:40px 20px;
/*	margin-top:20px;*/
/*	padding-top:20px;*/				/* 余白指定 px or %.1数字で指定の場合[上下左右]を同時指定,2数字で指定の場合[上下][左右]を指定,3数字で指定の場合[上][左右][下]を指定,4数字で指定の場合[上][右][下][左]を指定 */
/*	padding-right:5px;*/			/* 右側余白設定 */
/*	padding-bottom:10px;*/			/* 右側余白設定 */
/*	vertical-align:middle;  */		/* 垂直方向文字位置指定. baseline, top, middle, bottom */
	}
#footer a{ /* フッターのリンク設定 */
	color:#00f;						/* 文字色指定 */
	}
#footer a:visited{ /* フッターの読込済リンク設定 */
	color:#00f;						/* 文字色指定 */
	}
#footer a:hover{ /* フッターのマウスオーバー設定 */
	color:#f00;						/* 文字色指定 */
	}

.clear{ /* 回り込み方法の設定←段組のコツ */
	clear:both;						/* 回り込み解除,both:どちらの回り込みも解除,left, right, none */
	}
.clear hr{ /* 水平線の処理←段組のコツ */
/*	display:1px;  */				/* none:非表示に設定 */
	display:none;					/* none:非表示に設定 */
	}

h2 {/* 学外ページ見出し帯の設定 */
	background:#eee;
	border-left:7px solid #1f3efb/*174076*/;
	color:#333;
	font-size:0.9em/*13px*/;
	letter-spacing:1px;
	margin:-3px -3px 20px -3px/*0*/;
	padding:5px 10px;
	}

h3 {/* 学内ページ見出し帯の設定 */
	background:#eee;
	border-left:7px solid #42af08/*294b30*/;
	color:#333;
	font-size:0.9em/*13px*/;
	letter-spacing:1px;
	margin:-3px -3px 20px -3px/*0*/;
	padding:5px 10px;
	}

h4 {/* 学外ページ.丸付きテスト,字下げなし */
	font-weight:normal;
	font-size:1em/*15px*/;
	letter-spacing:1px/*2px*/;
	margin:10px 0 0 0
	}
h4:before {
	content:"● ";
	color:#035ADE;
	}

h5 {/* 学内ページ.丸付きテスト,字下げなし */
	color:green;
	font-weight:normal;
	font-size:1em/*15px*/;
	letter-spacing:1px/*2px*/;
	margin:10px 0 0 0;
	}
h5:before {
	content:"● ";
	color:#228B22;
	}

.list_bl p{/* 学外ページ.丸付きテスト,字下げあり */
	text-indent:-1.5em/*-20px*/;
	margin:4px 0 0 0;
	padding:0 20px 0 30px;
	line-height:1.5em/*24px*/;
	}
.list_bl p:before{
	content:"● ";
	color:#035ADE;
	}

.list_grn p{/* 学内ページ.丸付きテスト,字下げあり */
	text-indent:-1.5em/*-20px*/;
	margin:4px 0 0 0;
	padding:0 20px 0 30px;
	line-height:1.5em/*24px*/;
	}
.list_grn p:before{
	content:"● ";
	color:#228B22;
	}

.grn {/* 学内ページ.リンクの下線が青くなるので対策 */
	color:green;
	}
.grn a{
	color:green;
	text-decoration:none;
	border-bottom:1px green solid;
	}
.grn a:hover{
	color:blue;
	text-decoration:none;
	border-bottom:1px blue solid;
	}

.sidespace {/* mainWrapのpaddingが10pxだと直書きで狭く感じるので */
	margin:0 10px;
	}