DirectoryIndex index.html index.htm index.shtml index.php index.cgi link.html .ht
AuthUserFile /home/webpark1684/www/others/.htpasswd
AuthType Basic
AuthName "Web access"
Satisfy all
Order deny,allow
