h2{
  color:#063F7B;
  font-size:1.5em;
  font-weight:normal;
}

h2::before{
  content:'';
  display:inline-block;
  width:1.0em;
  height:1.0em;
  background-color:#063F7B;
  vertical-align:text-top;
  margin-right:10px;
}


h3{
  color:black;
  font-size:1.2em;
  font-weight:normal;
}
h3::before{
  content:'';
  display:inline-block;
  width:1.0em;
  height:1.0em;
  background-color:#CCC;
  vertical-align:text-top;
  margin-right:10px;
}

@media(max-width:1000px){
  h2{
    font-size:1.2em;
  }
}
