:root{
  --footer-height: 100px;
}

footer{
  height:var(--footer-height);
  background-color: var(--color-1);
  display:flex;
  padding:10px;
  justify-content:center;
  align-items:center;
  gap:30px;
}
footer img.link{
  width:220px;
  height:auto;
}

footer a.site-change{
  text-decoration:none;
  color:black;
  background-color:var(--color-menu-2);
  padding:10px;
  font-size:0.8em;
}
footer a.site-change:hover{
  opacity:0.5;
}
