:root{
  --header-height: 60px;
}

header{
  display:flex;
  align-items:center;
  gap:10px;
  height:var(--header-height);
}
header > *{
  height: 100%;
  margin:0;
  padding:0;
}

header .title{
  display:flex;
  align-items:center;
  font-size: 1.8em;
  font-weight:normal;
  padding:0 10px;
  white-space:nowrap;
}

/* Logo */
header > *:nth-child(2){
  margin-left:auto;
}
header .logo{
  padding:10px;
}
header .logo a{
  display:block;
  height:100%;
}
header .logo img,
header .logo svg{
  height:100%;
}

@media (min-width:1000px){
  header{
    padding-left  : calc((100vw - var(--min-width)) / 2);
    padding-right : calc((100vw - var(--min-width)) / 2);
  }
}

