.menu{
  background-color:var(--color-menu-2);
}
.menu > ul > li span:not([data-status="active"]):hover::after{
  background-color:var(--color-menu-1);
}

/* Active */
.menu > ul > li a[data-status='active'],
.menu > ul > li span[data-status='active']{
  background-color:var(--color-menu-1);
  color:black;
}
@media (min-width:769px){
  /* link-Hover */
  .menu > ul > li a:not([data-status="active"]):hover,
  .menu > ul > li span:not([data-status="active"]):hover{
    color:var(--color-menu-1);
  }
  .menu > ul > li > ul{
    background-color:var(--color-menu-2);
  }
}


