.menu{
  background-color:var(--color-menu-2);
}
.menu > ul > li span:not([data-status="active"]):hover::after{
  background-color:var(--color-menu-1);
}
.menu > ul span,
.menu > ul a{
  color:black;
}
.menu > ul > li span::after{
  background-color:black;
}
.menu > ul > li:hover > a,
.menu > ul > li:hover > span{
  color:white;
}
.menu > ul > li > ul > li a,
.menu > ul > li > ul > li label{
  color:black;
}
.menu > ul > li > ul > li:hover > a,
.menu > ul > li > ul > li:hover > span{
  color:white;
}
.menu > ul > li span[data-status="active"]::after{
  background-color:white;
}


/* Active */
.menu > ul > li a[data-status='active'],
.menu > ul > li span[data-status='active']{
  /* background-color:var(--color-menu-1);
  color:white; */
  color:white;
}


@media (min-width:769px){
  /* link-Hover */
  .menu > ul > li a:not([data-status="active"]):hover,
  .menu > ul > li span:not([data-status="active"]):hover{
    color:white;
  }
  .menu > ul > li > ul{
    background-color:var(--color-menu-2);
  }
}


