:root{
  --menu-height: 50px;
}

/* div.menu{
  height:var(--menu-height);
}
div.menu ul{
  display:flex;
  align-items:center;
} */

ul{
  margin:0;
  padding:0;
}
li{
  list-style:none;
  margin:0;
  padding:0;
}

.menu{
  --font-menu:white;
  --font-menu-on:white;
  --size-padding:20px;

  background-color:var(--color-menu-1);

  position:sticky;
  top:0;
  z-index:100;
}
.menu *{
  font-size:0.95em;
}

.menu > ul{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  margin-left:auto;
  /* position:sticky; */
  top:0;
  height:var(--menu-height);
  z-index:200;
  /* background-color:var(--color-menu-1); */
}

.menu > ul span,
.menu > ul a{
  text-decoration:none;
  color:var(--font-menu);
  white-space:nowrap;
}

.menu > ul > li > a,
.menu > ul > li > span{
  padding:0 var(--size-padding);
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100%;
  position:relative;
  white-space:nowrap;
}
.menu > ul > li:hover > a,
.menu > ul > li:hover > span{
  color:white;
  cursor:pointer;

}

/* Sub Menu */
.menu > ul > li > ul > li a,
.menu > ul > li > ul > li label{
  display:block;
  width:100%;
  height:100%;
  white-space:nowrap;
  cursor:pointer;
  padding:15px var(--size-padding);
  color:white;
  position:relative;
}
/* .menu > ul > li > ul > li a:hover,
.menu > ul > li > ul > li label:hover{
  color:var(--color-menu-2);
} */

.menu > ul > li span{
  position:relative;
}
.menu > ul > li span::after{
  content:'';
  display:block;
  width:0.6em;
  height:0.3em;
  /* border-style:solid;
  border-color:var(--font-menu);
  border-width:0 3px 3px 0;
  transform:rotate(45deg) scale(0.5); */
  /* margin-left:5px; */
  /* vertical-align:text-top; */
  clip-path:polygon(0 0, 100% 0, 50% 100%);
  
  background-color:#d4e1ee;
  position:absolute;
  left:50%;
  top:calc(100% - 5px);
  transform: translate(-50%, -100%);
}
.menu > ul > li span[data-status="active"]::after{
  background-color:black;
}
.menu > ul > li span:not([data-status="active"]):hover::after{
  background-color:var(--color-menu-2);
}

/* Active */
.menu > ul > li a[data-status='active'],
.menu > ul > li span[data-status='active']{
  color:var(--color-menu-2);
}




/* .menu > ul > li.list.lang span::after,
.menu > ul > li.list.lang:hover span::after{
  border-color:black;
} */

/* .menu > ul > li > ul > li > a[data-status='active'],
.menu > ul > li > ul > li > label[data-status='active'],
.menu > ul > li > a[data-status='active'],
.menu > ul > li > span[data-status='active'],
.menu > ul > li > label[data-status='active']{
  font-weight:bold;
} */

/* .menu > ul > li > ul > li > a[data-status='active']::before,
.menu > ul > li > ul > li > label[data-status='active']::before,
.menu > ul > li > a[data-status='active']::before,
.menu > ul > li > span[data-status='active']::before,
.menu > ul > li > label[data-status='active']::before{
  content:'';
  display:block;
  width:0.3em;
  height:0.3em;
  position:absolute;
  top:50%;
  left:10px;
  transform:translate(0,-50%);
  background-color:white;
} */

.menu > ul li.lang{
  margin-left:auto;
  background-color:var(--design-3);
}
.menu > ul li.lang,
.menu > ul li.lang:hover,
.menu > ul li.lang *,
.menu > ul li.lang:hover span{
  color:black;
}
.menu > ul li.lang:hover::after{
  background-color:black;
}


@media (max-width:1000px){
  .menu{
    /* position:fixed;
    height:100%; */
    position:fixed;
    top:var(--header-height);
    left:0%;
    width:250px;
    max-height:calc(100vh - var(--header-height));
    transition-property:left;
    transition-duration:0.3s;
    justify-content:start;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow:auto;
  }
  menu::-webkit-scrollbar{
    display:none;
  }

  .menu > ul{
    --size-header-sp:50px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    overflow-y:auto;
  }
  .menu > ul,
  .menu > ul > li > ul{
    flex-direction:column;
    width:100%;
    height:auto;
  }
  .menu > ul li span{
    display:none;
  }
  .menu > ul ul{
    box-shadow:none;
  }
  .menu > ul li:not(:last-child){
    min-height:var(--size-header-sp);
    border-bottom:1px solid white;
  }

  .menu > ul li{
    width:100%;
  }
  .menu > ul li a,
  .menu > ul li span{
    height:var(--size-header-sp);
    width:100%;
  }
  /* .menu > ul li.list{
    height:auto;
  } */
  .menu > ul > li > ul > li a,
  .menu > ul > li > ul > li span{
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  /* .menu > ul > li.lang > ul{
    display:flex;
    flex-direction:row;
  } */
  /* .menu > ul > li.lang > ul > *:first-child{
    border-right:1px solid white;
  } */
}
@media (min-width:1001px){
  .menu > ul > li{
    display:flex;
    position:relative;
    height:100%;
    align-items:center;
    min-width:80px;
  }
  .menu > ul > li > ul{
    display:none;
  }

  /* link-Hover */
  .menu > ul > li a:not([data-status="active"]):hover,
  .menu > ul > li span:not([data-status="active"]):hover{
    color:var(--color-menu-2);
  }
  .menu > ul > li a:not([data-status="active"]):hover svg,
  .menu > ul > li span:not([data-status="active"]):hover svg{
    fill:var(--color-menu-2);
  }

  /* .menu > ul > li > *:hover::before{
    content:'';
    display:block;
    position:absolute;
    width:calc(100% - var(--size-padding) * 2);
    height:1px;
    background-color:white;
    top:50%;
    left:50%;
    transform:translate(-50%,-1.0em);
  } */
  .menu > ul > li > ul{
    position:absolute;
    top:100%;
    left:0;
    background-color:var(--color-menu-1);
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);
    min-width:100%;
  }
  .menu > ul > li:hover > ul{
    display:block;
  }
}

input#hamburger[type='checkbox']:not(:checked) ~ .menu{
  left:-100%;
}

.menu .secure{
  background-color : #1c8d2f;
}


.menu svg{
  fill:white;
}
.menu svg.lock{
  margin-right:5px;
}

