@import "header.css";
@import "menu.css";
@import "menu_title.css";
@import "footer.css";
@import "main.css";
@import "title.css";
@import "button.css";
@import "common.css";


:root{
  --color-1 : #063F7B;
  --color-2 : #137FC4;
  --color-3 : #1AB132;
  --color-4 : #FFDE8D;
  --color-5 : #C1E7FF;
  --color-bg-1 : #EDF8FF;
  --color-bg-2 : #F0FFED;
  --color-bg-3 : #FFFAED;

  --color-6-1 : #A2DBFF;
  --color-6-2 : #58ACE2;
  --color-7-1 : #A1DD78;
  --color-7-2 : #65C423;
  --color-8-1 : #FFD89A;
  --color-8-2 : #FDAD2B;

  --color-menu-1 : #063F7B;
  --color-menu-2 : #F8BD2C;

  --min-width : 1000px;
}

*, *:before, *:after {
  -webkit-box-sizing : border-box;
     -moz-box-sizing : border-box;
       -o-box-sizing : border-box;
      -ms-box-sizing : border-box;
          box-sizing : border-box;
  font-size:16px;
}

/* html,body{
  height:100%;
} */

body{
  margin:0;
  min-width : var(--min-width);
  overflow:hidden scroll;
}

table{
  max-width:100%;
}

@media (max-width:1000px){
  body{
    min-width:auto;
  }
}

.hr{
  width: var(--min-width);
  max-width:100%;
  height:0px;
  margin:30px auto;
  border-bottom:1px dashed #137FC4;
}
