
h2{
  color:#063F7B;
  font-size:1.5em;
  font-weight:normal;
}

h2::before{
  content:'';
  display:inline-block;
  width:1.0em;
  height:1.0em;
  background-color:#063F7B;
  vertical-align:text-top;
  margin-right:10px;
}

section .flex{
  gap:20px;
}

section .message{
  padding-left:1.0em;
}

@media(max-width:1000px){
  h2{
    font-size:1.0em;
  }
}
