
h2{
  color:#008000;
  font-size:1.0em;
  font-weight:normal;
}

h2::before{
  content:'';
  display:inline-block;
  width:1.0em;
  height:1.0em;
  background-color:#008000;
  vertical-align:text-top;
  margin-right:10px;
}

section .flex{
  gap:20px;
}

section .message{
  padding-left:1.0em;
}
