@charset "utf-8";


section.news .lists{
  margin:0;
  display:flex;
  flex-direction:column;
  gap:20px;
}
section.news .lists li{
  
}
section.news .flex{
  gap:20px;
}

section.news .date{
  font-weight:bold;
}
section.news .body{
  /* padding-left:1.0em; */
}

section.news .link{
  color:white;
  background:var(--color-gradient);
  display:flex;
  margin:20px auto;
  align-items:center;
  justify-content:center;
  text-align:center;
  width:200px;
  max-width:100%;
  height:40px;
  border-radius:20px;
  text-decoration:none;
  font-size:0.9em;
}

/* Label */
section.news .label::before{
  content:attr(data-label);
  padding:5px 10px;
  width:100px;
  text-align:center;
  background-color:#ddd;
  font-size:0.8em;
}
section.news .label[data-label="学内向け記事"]::before{
  background-color:#FFDE8D;
}
section.news .label[data-label="学外向け記事"]::before{
  background-color:#C1E7FF;
}

