name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: www.ttc.t.u-tokyo.ac.jp
          username: webpark1684
          port: 22
          passphrase: ZePfrj9Q
          script: |
            cd /home/webpark1684/www/ttc
            git pull origin main
